<div class="title-header">
  <h1>
  {{title}}
  </h1>
</div>

<div class="container col-md-8">
  <div class="bill input-group">
    <span class="input-group-addon">$</span>
    <input type="text"
           [(ngModel)]="billModel"
           (keypress)="numbersOnly($event)"
           class="form-control"
           id="billAmountInput"
           placeholder="Bill Amount"
           aria-label="Bill Amount">
    <button type="button"
    class="btn btn-primary btn-lg bill-btn"
    (click)="getBillAmount(billModel)">Add Bill</button>
  </div>

  <div class="bill-display">
    <h2>Original Bill: {{billAmount | currency:'USD':true:'1.2-2'}}</h2>
  </div>
  <div class="bill-display">
    <h2>Bill w/Tax: {{taxBillAmount | currency:'USD':true:'1.2-2'}}</h2>
  </div>

  <div class="tip-container">
    <h3>Add a tip</h3>
    <div class="tip-display"*ngFor="let tipAmount of tipAmounts">
      <button type="button"
      class="btn btn-primary btn-lg tip-btn" id="tip-button"
      (click)="getTotalBillAmount(tipAmount.RawAmount, tipAmount.Message)">
        {{tipAmount.TipAmount}}
      </button>
    </div>
    <h5>{{tipMessage}}</h5>
  </div>

  <div class="total-bill">
    <h1>Total Bill: {{totalBill | currency:'USD':true:'1.2-2' }}</h1>
  </div>

</div>
